.allButtons {
    margin: 30px 20px;
}
#Search {
    background-color: whitesmoke;
    color: teal;
    border: 2px solid;
    border-color: teal;
    border-radius: 12px;
    width: 100px;
    margin-bottom: 8px;
}

#Plus {
background-color: aqua;
color: white;
border: none;
border-radius: 50%;
margin-top: 2px;
margin-bottom: 8px;
}

#Create {
 background-color: rgb(25, 90, 187);
 color: white;
 width: 125px;
 margin-top: 2px;
 box-shadow: 0 8px 16px 0 rgba (0,0,0.42,8), 0 17px 50px 0 rgba (0,0,0.23,8);
}